* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  width: 90%;
  height: 200vh;
  background-color: #7fffd4;
  margin: 40px auto 0px;
  position: relative;
}
h1 {
  font-size: 50px;
}

.child-one {
  background-color: #deb887;
  height: 130px;
  /* width: 600px; */
  /* position: static; defaultna vrednost pozicioniranja. */
  position: relative; /* Dobijamo 4 nova CSS svojstva: */
  /* top: ; */
  /* bottom: ; */
  /* left: ; */
  /* right: ; */
  /* top: 640px; */
  /* left: 40px; */

  position: absolute;
  top: 20px;
  left: 500px;
  z-index: 10;
}
.child-two {
  background-color: #0000ff;
  height: 130px;
  z-index: 5;

  position: fixed;
  right: 20px;
}
.child-three {
  background-color: #7fff00;
  height: 130px;

  position: sticky;
  top: 40px;
}
.child-four {
  background-color: #dc143c;
  height: 130px;
}
